In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('/Users/ethanchu/Downloads/osfstorage-archive/stats.anx.merged.cleaned.june4.v10.csv')

In [6]:
display(df.head(10))

,id,program.type,age,ethnicity.r,major,dal.course.code,se.1,se.2,se.3,se.4,...,frost.ps,frost.com,frost.da,stat.anx.tc,stat.anx.i,stat.anx.ah,stat.anx.ws,stat.anx.fst,stat.anx.sc,math.anx
0,12490341199,0,21,White,Psychology,"PSYO 2501, STAT 1060",4.0,3.0,4.0,4.0,...,4.00,4.4,3.25,4.666667,3.666667,5.0,3.666667,3.666667,2.0,4.111111
1,12489089323,0,22,Middle Eastern,Biology,STAT 1060,5.0,5.0,5.0,4.0,...,4.00,2.4,1.25,3.666667,1.000000,1.0,1.000000,1.000000,1.0,1.333333
2,12488861061,0,16,Black,Acting,NaN,4.0,5.0,5.0,5.0,...,3.25,2.4,4.00,4.333333,2.333333,1.0,2.000000,2.000000,2.0,1.888889
3,12487149081,0,19,White,Pharmacy,NaN,5.0,4.0,4.0,5.0,...,3.75,2.6,3.25,2.000000,1.333333,2.5,2.666667,2.666667,1.5,1.555556
4,12486771921,0,18,White,Undecided,STAT 1060,4.0,3.0,4.0,4.0,...,3.75,2.8,3.25,4.666667,3.333333,4.0,2.000000,2.333333,1.0,3.222222
5,12486512165,0,19,White,neuroscience,stat 1060,4.0,4.0,3.0,5.0,...,5.00,3.4,3.50,4.333333,4.000000,3.5,4.333333,2.666667,2.5,4.111111
6,12484222078,0,21,Hispanic/Latinx,Microbiology & Immunology,STAT1060,4.0,4.0,4.0,4.0,...,4.25,3.6,3.75,4.333333,3.333333,5.0,1.000000,1.000000,1.0,3.111111
7,12484106653,0,19,White,undecided,NaN,4.0,4.0,5.0,4.0,...,2.00,2.4,1.75,NaN,NaN,3.0,2.333333,2.000000,2.5,2.111111
8,12483856411,0,18,White,undecided,STAT 1060,4.0,3.0,4.0,4.0,...,2.25,2.6,2.75,3.666667,3.333333,3.0,3.000000,3.333333,3.5,3.555556
9,12481184335,0,28,Mixed/Other,undecided,NaN,5.0,5.0,5.0,5.0,...,2.25,1.0,1.75,4.666667,1.666667,1.0,1.000000,1.000000,1.0,2.000000

In [9]:
df_missing = df.isnull().sum()
df_missing = df_missing[df_missing > 0]
print(df_missing)

dal.course.code    198
se.1                 2
se.2                 1
se.3                 6
se.4                 6
                  ...
stat.anx.ah          1
stat.anx.ws          1
stat.anx.fst         3
stat.anx.sc          1
math.anx             2
Length: 75, dtype: int64

In [13]:
print(df.duplicated().sum())

0

In [10]:
df_new = df.drop(['id', 'dal.course.code'], axis=1)

In [11]:
display(df_new.head(10))

,program.type,age,ethnicity.r,major,se.1,se.2,se.3,se.4,se.5,se.6,...,frost.ps,frost.com,frost.da,stat.anx.tc,stat.anx.i,stat.anx.ah,stat.anx.ws,stat.anx.fst,stat.anx.sc,math.anx
0,0,21,White,Psychology,4.0,3.0,4.0,4.0,4.0,4.0,...,4.00,4.4,3.25,4.666667,3.666667,5.0,3.666667,3.666667,2.0,4.111111
1,0,22,Middle Eastern,Biology,5.0,5.0,5.0,4.0,4.0,5.0,...,4.00,2.4,1.25,3.666667,1.000000,1.0,1.000000,1.000000,1.0,1.333333
2,0,16,Black,Acting,4.0,5.0,5.0,5.0,5.0,5.0,...,3.25,2.4,4.00,4.333333,2.333333,1.0,2.000000,2.000000,2.0,1.888889
3,0,19,White,Pharmacy,5.0,4.0,4.0,5.0,4.0,4.0,...,3.75,2.6,3.25,2.000000,1.333333,2.5,2.666667,2.666667,1.5,1.555556
4,0,18,White,Undecided,4.0,3.0,4.0,4.0,4.0,4.0,...,3.75,2.8,3.25,4.666667,3.333333,4.0,2.000000,2.333333,1.0,3.222222
5,0,19,White,neuroscience,4.0,4.0,3.0,5.0,5.0,5.0,...,5.00,3.4,3.50,4.333333,4.000000,3.5,4.333333,2.666667,2.5,4.111111
6,0,21,Hispanic/Latinx,Microbiology & Immunology,4.0,4.0,4.0,4.0,5.0,5.0,...,4.25,3.6,3.75,4.333333,3.333333,5.0,1.000000,1.000000,1.0,3.111111
7,0,19,White,undecided,4.0,4.0,5.0,4.0,5.0,4.0,...,2.00,2.4,1.75,NaN,NaN,3.0,2.333333,2.000000,2.5,2.111111
8,0,18,White,undecided,4.0,3.0,4.0,4.0,4.0,4.0,...,2.25,2.6,2.75,3.666667,3.333333,3.0,3.000000,3.333333,3.5,3.555556
9,0,28,Mixed/Other,undecided,5.0,5.0,5.0,5.0,5.0,5.0,...,2.25,1.0,1.75,4.666667,1.666667,1.0,1.000000,1.000000,1.0,2.000000

In [15]:
df_new.to_csv('anxiety.csv', index=False)